<ion-header mode="ios">
        <ion-toolbar>
          <ion-title>
            Create gig
          </ion-title>
        </ion-toolbar>
      </ion-header>
<ion-content>
    <ion-item>
            <ion-input placeholder="title" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
            <ion-input placeholder="description" [(ngModel)]="description"></ion-input>
    </ion-item>
    <ion-item>
            <ion-input type='date' [(ngModel)]="date"></ion-input>
    </ion-item>
    <ion-item>
            <ion-input placeholder="category" [(ngModel)]="category"></ion-input>
    </ion-item>
    <ion-item>
            <ion-input placeholder="duration" [(ngModel)]="duration"></ion-input>
    </ion-item>
    <ion-button (click)="save()">Save</ion-button>
</ion-content>