<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      My Gigs
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>  
  <!-- My posted gigs -->
<ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="postedGigs" (click) = showPosted()>
        <ion-label>Posted</ion-label>
        <ion-badge>1</ion-badge>
      </ion-tab-button>
      
      <ion-tab-button tab="pendingGigs" (click) = showPending()>
        <ion-label>Pending</ion-label>
        <ion-badge>1</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

    <ion-list *ngIf="showPostedList">
      <ion-list-header>
        <ion-label>Posted</ion-label>
      </ion-list-header>
      <ion-item>Posted Item 1</ion-item>
      <ion-item>Posted Item 2</ion-item>
      <ion-item>Posted Item 3</ion-item>
      <ion-item>Posted Item 4</ion-item>
      <ion-item>Posted Item 5</ion-item>
    </ion-list>


  <ion-list *ngIf="showPendingList">
      <ion-list-header>
        <ion-label>Pending</ion-label>
      </ion-list-header>
      <ion-item>Pending Item 1</ion-item>
    </ion-list>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/app/tabs/create'>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
  
