<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>
      My Gigs
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- My posted gigs -->
  <ion-tabs style="display: contents;">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="postedGigs" (click)="showPosted()">
        <ion-label>Posted</ion-label>
        <ion-badge>{{numberCreated}}</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="pendingGigs" (click)="showPending()">
        <ion-label>Pending</ion-label>
        <ion-badge>{{numberPending}}</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div *ngIf="showPostedList">


    <ion-list *ngFor="let gig of ownGigs">
      <ion-item class="item item-text-wrap">
        <ion-label text-wrap>
          <ion-card-title>{{gig.title}}</ion-card-title>
          <ion-card-subtitle>{{gig.owner}}</ion-card-subtitle>
        </ion-label>
        <!-- <ion-icon name="heart" color="medium"></ion-icon> -->


        <!-- <ion-card-content>
                {{service.description}}
            </ion-card-content> -->

        <ion-row>
          <ion-col>
            {{ gig.date | date : "hh:mm MMMM d, y" }}
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-icon name="hourglass"></ion-icon>
            <ion-note>
              {{gig.duration}} min
            </ion-note>
          </ion-col>
        </ion-row>

      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="showPendingList">


    <ion-list *ngFor="let gig of pendingGigs">
      <ion-item>
        <ion-label text-wrap>
          <ion-card-title>{{gig.title}}</ion-card-title>
          <ion-card-subtitle>{{gig.owner}}</ion-card-subtitle>
        </ion-label>
        <!-- <ion-icon name="heart" color="medium"></ion-icon> -->


        <!-- <ion-card-content>
            {{service.description}}
        </ion-card-content> -->

        <ion-row>
          <ion-col>
            {{ gig.date | date : "hh:mm MMMM d, y" }}
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-icon name="hourglass"></ion-icon>
            <ion-note>
              {{gig.duration}} min
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/app/tabs/create'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>