<ion-header>
  <ion-toolbar>
    <ion-title>
      Available requests
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">
    <ion-card *ngFor="let service of services" (click)="onSelect(service)">
      <ion-item class="item item-text-wrap">
        <ion-avatar item-start style="margin-right: 10px;" class="item-avatar">
          <img *ngIf="service.image != ''" src="{{service.image}}">
          <div *ngIf="service.image == ''" [ngSwitch]="service.category">
              <div *ngSwitchCase="'pet'">
                <ion-icon name="paw" color="blue" class="icon-margin"></ion-icon>
              </div>
              <div *ngSwitchCase="'shop'">
                <ion-icon name="cart" color="dark" class="icon-margin"></ion-icon>
              </div>
              <div *ngSwitchCase="'ride'">
                <ion-icon name="car" color="red" class="icon-margin"></ion-icon>
              </div>
              <div *ngSwitchCase="'work'">
                <ion-icon name="hammer" color="dark" class="icon-margin"></ion-icon>
              </div>
              <div *ngSwitchDefault>
                  <ion-icon name="body" color="dark" class="icon-margin"></ion-icon>
                </div>
            </div> 
        </ion-avatar>
        <ion-label text-wrap>
            <ion-card-title>{{service.title}}</ion-card-title>
            <ion-card-subtitle>{{service.author}}</ion-card-subtitle>
          </ion-label>
          <ion-icon name="heart" color="medium"></ion-icon>
      </ion-item>

      <!-- <ion-card-content>
          {{service.description}}
      </ion-card-content> -->

      <ion-row>
        <ion-col>
          {{ service.time_start | date : "hh:mm MMMM d, y" }}
        </ion-col>
        <ion-col align-self-center text-center>
          <ion-icon name="hourglass"></ion-icon>
          <ion-note>
            {{service.duration_min}} min
          </ion-note>
        </ion-col>
      </ion-row> 
    </ion-card>
    </ion-list>

    <!-- <ion-list lines="none">
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
        <ion-badge color="secondary">11</ion-badge>
      </ion-item>
    </ion-list> -->
</ion-content>
