<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button>Log Out</ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
    

<ion-grid>
    <!--<ion-row>
        <ion-col size="3.5">
          <div text-align="center">
            <ion-avatar class="ion-margin-start">
               <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
           </ion-avatar>
          </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-title>Carlota Soler</ion-title>
            </div>
        </ion-col>
    </ion-row>-->
    <ion-row>
        <ion-col size="4">
        </ion-col>
      <ion-col size="4">
        <div text-align="center">
          <ion-avatar class="ion-margin-start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
        </div>
      </ion-col>
      <ion-col size="4">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <div style="text-align:center">
              <ion-title>Mickey Mouse</ion-title>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-grid>
  <ion-row>
      <ion-col>
          <ion-item lines="none">
              <ion-label>Gigs</ion-label>
              <ion-badge color="primary" mode="ios" slot="end">15</ion-badge>
          </ion-item>
      </ion-col>
      <ion-col>
          <ion-item lines="none">
              <ion-label>Karma</ion-label>
              <ion-badge color="tertiary" mode="ios" slot="end">3000</ion-badge>
          </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
            <ion-label>Rating</ion-label>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
        </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>